<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Employee</title>
        <link href="static/css/form.css" rel="stylesheet">
    </head>
    <body>
        <form action="/add_employee" method="POST">
            <br>
            <br>
            <br>
            <header><h1>Add a New Employee</h1></header>
            <div class="help">{{ error }}</div>
            <label>Last Name</label>
            <input id="last_name" name="last_name" type="text" placeholder="Last Name" required>
            <label>First Name</label>
            <input id="first_name" name="first_name" type="text" placeholder="First Name" required>
            <label>Address Line 1</label>
            <input id="address_line_1" name="address_line_1" type="text" placeholder="Address Line 1" required>
            <label>Address Line 2</label>
            <input id="address_line_2" name="address_line_2" type="text" placeholder="Address Line 2">
            <label>City</label>
            <input id="city" name="city" type="text" placeholder="City" required>
            <label>State</label>
            <input id="state" name="state" type="text" placeholder="State" required>
            <label>Zip Code</label>
            <input id="zip_code" name="zip_code" type="number" placeholder="Zip Code" required>
            <label>Social Security Number: XXX-XX-XXXX</label>
            <input id="social_security_1" name="social_security_1" type="number" min="0" max="999" placeholder="XXX" required>
            <input id="social_security_2" name="social_security_2" type="number" min="0" max="99" placeholder="XX" required>
            <input id="social_security_3" name="social_security_3" type="number" min="0" max="9999" placeholder="XXXX" required>
            <label># Of Federal Withholdings</label>
            <input id="federal_withholdings" name="federal_withholdings" type="number" placeholder="# Of Federal Withholdings" required>
            <label># Of State Line 1 Withholdings (# dependents, personal allowances, etc.)</label>
            <input id="state_line1_withholdings" name="state_line1_withholdings" type="number" placeholder="# Of Federal Withholdings" required>
            <label># Of State Line 2 Withholdings (65+, legally blind, spouse 65+, etc.)</label>
            <input id="state_line2_withholdings" name="state_line2_withholdings" type="number" placeholder="# Of Federal Withholdings" required>
            <label>Salary</label>
            <input id="salary" name="salary" type="number" step="0.01" placeholder="Salary" required>
            <label>Marital Status</label>
            <select name="marital_status" id="marital_status" required>
                <option value="single">Single</option>
                <option value="married">Married</option>
            </select> <br>
            <button>Add Employee</button>
        </form>
    </body>
</html>
