<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Customer</title>
        <link href="static/css/form.css" rel="stylesheet">
    </head>
    <body>
        <form action="/add_customer" method="POST">
            <br>
            <br>
            <br>
            <header><h1>Add a New Customer</h1></header>
            <div class="help">{{ error }}</div>
            <label>Company Name</label>
            <input id="company" name="company" type="text" placeholder="Company Name" required>
            <label>Last Name</label>
            <input id="last_name" name="last_name" type="text" placeholder="Last Name" required>
            <label>First Name</label>
            <input id="first_name" name="first_name" type="text" placeholder="First Name" required>
            <label>Address Line 1</label>
            <input id="address_line_1" name="address_line_1" type="text" placeholder="Address Line 1" required>
            <label>Address Line 2</label>
            <input id="address_line_2" name="address_line_2" type="text" placeholder="Address Line 2">
            <label>City</label>
            <input id="city" name="city" type="text" placeholder="City" required>
            <label>State</label>
            <input id="state" name="state" type="text" placeholder="State" required>
            <label>Zip Code</label>
            <input id="zip_code" name="zip_code" type="number" placeholder="Zip Code" required>
            <label>Price</label>
            <input id="price" name="price" type="number" step="0.01" placeholder="Price" required>
            <button>Add Customer</button>
        </form>
    </body>
</html>
