<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/three_column_styles.css">
  </head>
	<body>
		<div class="row">
			<div class="column">
				<a href="/view_employees" class="button">View Employees</a> <br> <br>
				<a href="/add_employee" class="button">Add Employee</a> <br> <br>
				<a href="/pay_employees" class="button">Pay Employees</a> <br> <br>
				<a href="/view_payroll_events" class="button">View Payroll Events</a> <br> <br>
			</div>
			<div class="column">
				<a href="/view_customers" class="button">View Customers</a> <br> <br>
				<a href="/add_customer" class="button">Add Customer</a> <br> <br>
				<a href="/create_invoice" class="button">Create Invoice</a> <br> <br>
			</div>
			<div class="column">
				<a href="/view_vendors" class="button">View Vendors</a> <br> <br>
				<a href="/add_vendor" class="button">Add Vendor</a> <br> <br>
				<a href="/create_po" class="button">Create PO</a> <br> <br>
				<a href="/view_inventory" class="button">View Inventory</a> <br> <br>
				<a href="/build_units" class="button">Build Units</a> <br> <br>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="column">
				<a href="/view_pl_statement" class="button">View the P&L</a> <br> <br>
			</div>
			<div class="column">
				<a href="/view_balance_sheet" class="button">View the Balance</a> <br> <br>
			</div>
			<div class="column">
				<button id="increment_date" class="button">Increment Date From <span id="date_val">{{ date }}</span></button><br><br>
				<button id="change_date" class="button">Increase Date By </button><input type="text" id="num_days"><br><br>
			</div>
		</div>
	</body>
	<script src="static/js/jquery.js"></script>
	<script type="text/javascript">
		$("#increment_date").click(function() {
			$.ajax({
	            url: "/increment_date",
	            type: "POST",
	            success: function(resp){
	                $('span#date_val').html(resp.date);
	            }
	        });
		});
		$("#change_date").click(function() {
			$.ajax({
	            url: "/increment_date",
	            type: "POST",
	            data: { num_days: $("#num_days").val() },
	            success: function(resp){
	                $('span#date_val').html(resp.date);
	            }
	        });
		});
   </script>
</html>