<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/three_column_styles.css">
  </head>
	<body>
		<div class="row">
			<div class="column">
				<a href="/view_employees" class="button">View Employees</a> <br> <br>
				<a href="/add_employee" class="button">Add Employee</a> <br> <br>
				<a href="/pay_employees" class="button">Pay Employees</a> <br> <br>
				<a href="/view_payroll_events" class="button">View Payroll Events</a> <br> <br>
			</div>
			<div class="column">
				<a href="/view_customers" class="button">View Customers</a> <br> <br>
				<a href="/add_customer" class="button">Add Customer</a> <br> <br>
				<a href="/create_invoice" class="button">Create Invoice</a> <br> <br>
				<a href="/view_expense_accounts" class="button">View Expense Accounts</a> <br> <br>
				<a href="/pay_monthly_bill" class="button">Pay a Fixed Monthly Bill</a> <br> <br>
				<a href="/view_paid_expenses" class="button">View Paid Expenses</a> <br> <br>
			</div>
			<div class="column">
				<a href="/view_vendors" class="button">View Vendors</a> <br> <br>
				<a href="/add_vendor" class="button">Add Vendor</a> <br> <br>
				<a href="/create_po" class="button">Create PO</a> <br> <br>
				<a href="/view_inventory" class="button">View Inventory</a> <br> <br>
				<a href="/build_units" class="button">Build Units</a> <br> <br>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<a href="/view_pl_statement" class="button">View the P&L</a> <br> <br>
			</div>
			<div class="column">
				<a href="/view_balance_sheet" class="button">View the Balance</a> <br> <br>
			</div>
		</div>
	</body>
</html>